@!(body)
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title>Image Resizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link href="/assets/others/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="/assets/others/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/others/plugins/boostrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/others/plugins/bootstrap-tag/bootstrap-tagsinput.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/others/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/others/css/animate.min.css" rel="stylesheet" type="text/css"/>
    <!-- END CORE CSS FRAMEWORK -->
    <!-- BEGIN CSS TEMPLATE -->
    <link href="/assets/others/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/others/css/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/others/css/magic_space.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/others/css/custom-icon-set.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/app/css/app.common.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/app/css/app.auth.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/lib/parsley/plugin.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/others/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
    <!-- END CSS TEMPLATE -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="error-body no-top lazy" ng-app="imageResizer" ng-cloak>

@body()

<!-- BEGIN CORE JS FRAMEWORK-->
<script src="/assets/others/plugins/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="/assets/others/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/others/plugins/bootstrap-tag/bootstrap-tagsinput.min.js" type="text/javascript"></script>
<script src="/assets/others/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="/assets/others/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/assets/others/plugins/jquery-lazyload/jquery.lazyload.min.js" type="text/javascript"></script>
<script src="/assets/others/plugins/jquery-inputmask/jquery.inputmask.min.js" type="text/javascript"></script>
<script src="/assets/others/js/login_v2.js" type="text/javascript"></script>
<script src="/assets/others/js/jquery.plainoverlay.min.js" type="text/javascript"></script>
<script src="/assets/lib/parsley/parsley.min.js" type="text/javascript"></script>
<script src="/assets/lib/parsley/parsley.extend.min.js" type="text/javascript"></script>
<script src="/assets/app/js/app.auth.js" type="text/javascript"></script>
<script src="/assets/app/js/app.inputs.js" type="text/javascript"></script>

<script type="text/javascript" src="/assets/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/assets/lib/ui-bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script type="text/javascript" src="/application/directives/bootstrapFileInputDirective.js"></script>
<script type="text/javascript" src="/application/directives/dateFromMaskDirective.js"></script>
<script type="text/javascript" src="/application/directives/dateInlineDirective.js"></script>
<script type="text/javascript" src="/application/directives/dateTimeInlineDirective.js"></script>
<script type="text/javascript" src="/application/directives/fileSelectTargetDirective.js"></script>
<script type="text/javascript" src="/application/directives/focusMeDirective.js"></script>
<script type="text/javascript" src="/application/directives/loaderDirective.js"></script>
<script type="text/javascript" src="/application/directives/preventClickDirective.js"></script>
<script type="text/javascript" src="/application/directives/profileImageDirective.js"></script>
<script type="text/javascript" src="/application/directives/submitValidOnlyDirective.js"></script>
<script type="text/javascript" src="/application/directives/timeInlineDirective.js"></script>
<script type="text/javascript" src="/application/directives/twitterHandlerDirective.js"></script>
<script type="text/javascript" src="/application/directives/wiswigEditorDirective.js"></script>
<script type="text/javascript" src="/application/directives/popoverHtmlDirective.js"></script>
<script type="text/javascript" src="/application/directives/imagePositionDirective.js"></script>
<script type="text/javascript" src="/application/directives/ng-table.min.js"></script>
<script type="text/javascript" src="/application/directives/serviceUsageChartDirective.js"></script>
<script type="text/javascript" src="/application/directives/clipboardCopy.js"></script>
<script type="text/javascript" src="/application/directives/tagsInputDirective.js"></script>
<script type="text/javascript" src="/application/directives/directives.js"></script>
<script type="text/javascript" src="/application/services/resetPasswordService.js"></script>
<script type="text/javascript" src="/application/controllers/resetPasswordController.js"></script>
<script type="text/javascript" src="/application/angular-apps/auth.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script src="/assets/app/js/app.background.js" type="text/javascript"></script>

<script>
    var heap = heap || [];
    heap.load = function (a) {
        window._heapid = a;
        var b = document.createElement("script");
        b.type = "text/javascript", b.async = !0, b.src = ("https:" === document.location.protocol ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap.js";
        var c = document.getElementsByTagName("script")[0];
        c.parentNode.insertBefore(b, c);
        var d = function (a) {
            return function () {
                heap.push([a].concat(Array.prototype.slice.call(arguments, 0)))
            }
        }, e = ["identify", "track"];
        for (var f = 0; f < e.length; f++)heap[e[f]] = d(e[f])
    };
    heap.load("335729428");
</script>
<script>
    window.Airbrake = [];
    window.Airbrake.try = function (fn) {
        try {
            fn()
        } catch (er) {
            window.Airbrake.push(er);
        }
    };
</script>
<script src="https://ssljscdn.airbrake.io/airbrake-js-tracekit.min.js" data-airbrake-project-id="96833"
        data-airbrake-project-key="dbce9581fb5b43792e52161eeb99175c"
        data-airbrake-project-environment-name="production"></script>
</body>
</html>
