<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h3>Contact</h3>
</div>
<form name="form" ng-submit="send()" novalidate>
    <div class="modal-body bg-gray">
        <div class="alert alert-success" ng-show="isMessageSent">
            You're message has been successfully sent
        </div>

        <div class="alert alert-error" ng-if="errorMessage">
            {{errorMessage}}
        </div>

        <div class="row" ng-if="!isLoading" ng-hide="isMessageSent">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="controls contact-form">
                        <textarea ng-model="$parent.$parent.messageText" name="sessionDescription" type="text"
                                  class="form-control required" placeholder="Session Description"
                                  wiswig-editor="{height: '200px'}">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
        <loader ng-model="isLoading" center="true"></loader>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()" ng-hide="isMessageSent">Cancel</button>
        <button class="btn btn-primary" type="submit" ng-disabled="isLoading" ng-hide="isMessageSent">Send</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()" ng-show="isMessageSent">Okay</button>
    </div>
</form>