<div class="col-md-12 col-sm-12 border-radius">
    <table>
        <tr>
            <td>
                <input type="text" id="left-top-radius" name="left-top-radius" data-ng-model="stageModel.cornerRadius.topLeft">
            </td>
            <td></td>
            <td>
                <input type="text" id="right-top-radius" name="right-top-radius" data-ng-model="stageModel.cornerRadius.topRight">
            </td>
        </tr>
        <tr class="middle-row">
            <td></td>
            <td>
                <div class="rectangle">
                    <input type="text" id="all-borders-radius" placeholder="All Borders" data-ng-model="stageModel.cornerRadius.value">
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <input type="text" id="left-bottom-radius" data-ng-model="stageModel.cornerRadius.bottomLeft">
            </td>
            <td></td>
            <td>
                <input type="text" id="right-bottom-radius" data-ng-model="stageModel.cornerRadius.bottomRight">
            </td>
        </tr>
    </table>
</div>