<div id="modal-header" class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h4><strong>Confirmation</strong></h4>
</div>
<br>
<div class="col-md-12 col-sm-12" ng-init="init()">
    Do you really want to downgrade your subscription to the Free plan?
</div>
<br>
<div class="col-md-12 col-sm-12">
    <div class="pull-right">
        <button class="btn btn-primary btn-cons" type="button" ng-click="cancel()">No</button>
        <button class="btn btn-cons" type="button" ng-click="ok()">Yes</button>
    </div>
    <div class="clearfix"></div>
    <br>
</div>