<h5 class="normal">Followers ( <span class="text-success">{{ profile.followers || 0}}</span> )
</h5>

<ul class="my-friends">
    <li>
        <div class="profile-pic"><img alt="" data-src=
                "/assets/others/img/profiles/d.jpg" data-src-retina=
                                              "/assets/others/img/profiles/d2x.jpg" height="35"
                                      src=
                                              "/assets/others/img/profiles/d.jpg" width="35">
        </div>
    </li>

    <li>
        <div class="profile-pic"><img alt="" data-src=
                "/assets/others/img/profiles/c.jpg" data-src-retina=
                                              "/assets/others/img/profiles/c2x.jpg" height="35"
                                      src=
                                              "/assets/others/img/profiles/c.jpg" width="35">
        </div>
    </li>

    <li>
        <div class="profile-pic"><img alt="" data-src=
                "/assets/others/img/profiles/h.jpg" data-src-retina=
                                              "/assets/others/img/profiles/h2x.jpg" height="35"
                                      src=
                                              "/assets/others/img/profiles/h.jpg" width="35">
        </div>
    </li>

    <li>
        <div class="profile-pic"><img alt="" data-src=
                "https://pbs.twimg.com/profile_images/1868773314/image.jpg"
                                      data-src-retina="/assets/others/img/profiles/avatar_small2x.jpg"
                                      height="35"
                                      src="https://pbs.twimg.com/profile_images/1868773314/image.jpg"
                                      width=
                                              "35"></div>
    </li>

    <li>
        <div class="profile-pic"><img alt="" data-src=
                "/assets/others/img/profiles/e.jpg" data-src-retina=
                                              "/assets/others/img/profiles/e2x.jpg" height="35"
                                      src=
                                              "/assets/others/img/profiles/e.jpg" width="35">
        </div>
    </li>

    <li>
        <div class="profile-pic"><img alt="" data-src=
                "/assets/others/img/profiles/b.jpg" data-src-retina=
                                              "/assets/others/img/profiles/b2x.jpg" height="35"
                                      src=
                                              "/assets/others/img/profiles/b.jpg" width="35">
        </div>
    </li>

    <li>
        <div class="profile-pic"><img alt="" data-src=
                "/assets/others/img/profiles/h.jpg" data-src-retina=
                                              "/assets/others/img/profiles/h2x.jpg" height="35"
                                      src=
                                              "/assets/others/img/profiles/h.jpg" width="35">
        </div>
    </li>

    <li>
        <div class="profile-pic"><img alt="" data-src=
                "/assets/others/img/profiles/d.jpg" data-src-retina=
                                              "/assets/others/img/profiles/d2x.jpg" height="35"
                                      src=
                                              "/assets/others/img/profiles/d.jpg" width="35">
        </div>
    </li>
</ul>

<div class="clearfix"></div>
